<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsReader"
        tools:targetApi="31">
        <activity
            android:name=".phuong_works.Activity_podcast_2"
            android:exported="false" />
        <activity
            android:name=".phuong_works.Activity_podcast_1"
            android:exported="false" />
        <activity
            android:name=".nghia_works.Activity_setting_noti"
            android:exported="false" />
        <activity
            android:name=".phuong_works.Notification_activity"
            android:exported="false" />
        <activity
            android:name=".duy_works.LolDetailActivity"
            android:exported="false" />
        <activity
            android:name=".duy_works.BallDetailActivity"
            android:exported="false" />
        <activity
            android:name=".duy_works.ChessDetailActivity"
            android:exported="false" />
        <activity
            android:name=".nghia_works.Activity_ext"
            android:exported="false" />
        <activity
            android:name=".nghia_works.Activity_late"
            android:exported="false" />
        <activity
            android:name=".nghia_works.Activity_setting"
            android:exported="false" />
        <activity
            android:name=".nghia_works.Activity_info"
            android:exported="false" />
        <activity
            android:name=".duc_works.Opinion3_detailActivity"
            android:exported="false" />
        <activity
            android:name=".duc_works.Opinion2_detailActivity"
            android:exported="false" />
        <activity
            android:name=".duc_works.Opinion1_detailActivity"
            android:exported="false" />
        <activity
            android:name=".ngoc_works.vid2_detailActivity"
            android:exported="false" />
        <activity
            android:name=".ngoc_works.vid1_detailActivity"
            android:exported="false" />
        <activity
            android:name=".duy_works.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ngoc_works.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>